{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src= "{{ s.image }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
  {% endif %}
  <div id="mapContainer" style="width: 90%; margin: 50px auto 0;">
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=4cjpAQKJfMMGYTm8eMxiyiDv4yxUMhWmdlPMr9dBipc"></script>
  </div>
  </div>
{% endif %}